.App {
  text-align: center;
}

.App-header {
  color: #fff;
  z-index: 1;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.requadre{
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1279px) and (min-width: 600px)
.fila-centrada {
    height: 50px;
}
.fila-centrada {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
}

@media (min-width: 600px)
.logo {
    width: calc(100% / 6);
}

.logo {
    display: flex;
    height:24px;
    align-items: center;
    color: #014cb3;
}

.app-logo {
  height:24px;
  width: 24px;
  fill:  #014cb3;
}

@media (max-width: 979px)
.logo_text {
    font-size: 16px;
    margin-top: 1px;
}
.logo_text {
    color: inherit;
    margin-left: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}
a {
    color: inherit;
    text-decoration: none;
}
a {
    background-color: transparent;
}

.fila-navegador {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  scrollbar-width: none;
}

@media (max-width: 979px) and (min-width: 600px)
.item-navegador {
    padding-left: 10px;
    padding-right: 10px;
}
.item-navegador {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ffffff;
    transition: color 0.2s ease-out;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 300;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  /* Set rules to fill background */
  min-height: 100%;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  margin-bottom: 0px;
}

.alçada-inicial{
  top: 400px;
}


.cell {
  position: relative;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #777777;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 60px -10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s;
  font-size: 10px;
  line-height: 10px;
}